<%-include("partials/header")%>


<div class="postcontainer">
  <div class="card">
    <div class="card__header">
      <img class = "post" src="<%=blogobj.imgsrc%>" alt="card__image" class="card__image" width="600">
      </div>
    <div class="card__body">
      <%postlink = "/post_edit/" + blogobj.title%>
      <%uppost = "/post/" + blogobj.title  + "?vote=upvote" %>
      <%downpost = "/post/" + blogobj.title + "?vote=downvote" %>
      <a href ="<%=postlink%>"><span class="tag tag-blue"><%=blogobj.date%></span></a>
      <h5><%=blogobj.title%></h5>
      <p class = "post"><%=blogobj.post%></p>
    </div>
<p id = "vote_comment"><%=vote_comment%></p>
    <div class="mm-voting">
       
       
  <label class="mm-voting__counter"><%=blogobj.count%></label>

  <form action = "<%=uppost%>" method="POST">
  <input type="submit"  value="upvote" formaction="<%=uppost%>" />
  <input type="submit" value="downvote" formaction="<%=downpost%>"/>
</form>
</div>
    </div>
    
</div>


<%-include("partials/footer")%>
